/* Colors */

@define-color background rgba(30, 30, 30, 0.3);
@define-color groupbackground #363636;
@define-color buttoncolor #4a4a4a;
@define-color bordercolor #242424;
@define-color fontcolor #FFFFFF;

* {
	font-family: "Fira Sans Semibold";

}

/* Control Center */

.control-center {
	border: 3px solid @bordercolor;
	border-radius: 20px;
	padding: 10px;
	background: rgba(30, 30, 30, 0.85);
}

button {
	border: 0px;
	min-width: 35px;
	background: @buttoncolor;
}

.notification-group-header {
	font-size: 14px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
	margin:5px;
}

/* Notification */

.notification {
	padding:10px;
	background: rgba(30, 30, 30, 0.8);
	border-radius: 20px;
	border-color: #343434;
}

.notification-default-action:hover,
.notification-action:hover {
	color: #ffffff;
	background: @background;
}
